node_modules
Backend/Image
CSV
Backend/__pycache__/deep_emotion.cpython-311.pyc
Backend/build/startAPI/Analysis-00.toc
Backend/build/startAPI/base_library.zip
Backend/build/startAPI/COLLECT-00.toc
Backend/build/startAPI/EXE-00.toc
Backend/build/startAPI/localpycs/pyimod01_archive.pyc
Backend/build/startAPI/localpycs/pyimod02_importers.pyc
Backend/build/startAPI/localpycs/pyimod03_ctypes.pyc
Backend/build/startAPI/localpycs/pyimod04_pywin32.pyc
Backend/build/startAPI/localpycs/struct.pyc
Backend/build/startAPI/PKG-00.toc
Backend/build/startAPI/PYZ-00.pyz
Backend/build/startAPI/PYZ-00.toc
Backend/build/startAPI/startAPI.exe
Backend/build/startAPI/startAPI.pkg
Backend/build/startAPI/warn-startAPI.txt
Backend/build/startAPI/xref-startAPI.html
Backend/startAPI.spec
startAPI.spec
