html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }


#title-container{
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #324877;
}

#title{
    position: relative;
    margin-top: 12px;
    margin-bottom: 8px;
    width: auto;
    height: 80px;
    margin-left: 5%;
    color: white;
    font-size: 48px;
}

#left-container{
    position: relative;
    margin-left: 5%;
    width: 30%;
    height: 100%;
    float: left;
}

#stream-container{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 300px;
    float: left;
    margin-top: 50px;
    border: 1px grey dashed;
    background-color: lightgrey;
}

#stream{
    position: relative;
    height: 100%;
    width: 100%;
}

#btn-container{
    position: relative;
    width: 100%;
    height: 100px;
}

#start, #stop{
    position: relative;
    margin-top:30px;
    float:left;
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
    height: auto;
    text-align: center;
}

#right-container{
    position: relative;
    margin-right: 5%;
    width: 60%;
    height: 100%;
    float: left;
}

#container{
    position: relative;
    width: 100%;
    height: 500px;
    float: left;
    margin-top: 30px;
}

.navBtn{
    float: right;
    position: relative;
    margin-top: 10px;
    height: 90%;
    width: 15%;
    border-radius: 20% 20% 0% 0%;
    color: white;
    background-color: #324877;
    transition: 0.3s color linear,
                0.3s background-color linear;
}

.navBtn:hover{
    background-color: white;
    color: #324877;
}

.lastNavBtn{
    margin-right: 5%;
}

#inicio, #config{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

#selected{
    background-color: white;
    color: #324877;
}
