html, body, #bodyMain, #bodyCfg{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2.5px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #bodyMain, #bodyCfg{
    position: absolute;
  }

  #bodyCfg{
    display: none;
    background-color: lightgray;
  }

#title-container{
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #324877;
}

#title{
    position: relative;
    margin-top: 12px;
    margin-bottom: 8px;
    width: auto;
    height: 80px;
    margin-left: 5%;
    color: white;
    font-size: 48px;
}

#left-container{
    position: relative;
    margin-left: 5%;
    width: 30%;
    height: 100%;
    float: left;
}

#stream-container{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 300px;
    float: left;
    margin-top: 50px;
    border: 1px grey dashed;
    background-color: lightgrey;
}

#stream{
    position: relative;
    height: 100%;
    width: 100%;
}

#btn-container{
    position: absolute;
    top:400px;
    width: 100%;
    height: 100px;
}

#timer{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 550px;
    font-size: 16px;
}

#taskTimer{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 570px;
    font-size: 16px;
}

#task, #notask{
    font-size:8;
}

#btn-container-task{
    position: absolute;
    top:650px;
    width: 100%;
    height: 100px;
}

#start, #stop, #task, #notask{
    position: relative;
    margin-top:40px;
    float:left;
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
    height: auto;
    text-align: center;
}

#right-container{
    position: relative;
    margin-right: 5%;
    width: 60%;
    height: 100%;
    float: left;
}

#container{
    position: relative;
    width: 100%;
    height: 450px;
    float: left;
}

.emotion-log{
    position: relative;
    width: 28.33%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 10px;
    border: 5px solid lightgray;
    float:left;
}

.text-emotion{
    margin-top: 2px;
    font-size: 12px;
    margin-bottom: 2px;
    text-align: center;
}

.bold-text-emotion{
    font-weight: bold;
}

.top-log{
    position: relative;
    top:0;
    width: 100%;
    overflow: hidden;
    background-color: lightgray;
    height: 50px;
}

.title-model{
    color: white;
    text-align: center;
    font-size: 24px;
}

.navBtn{
    float: right;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    height: 90%;
    width: 15%;
    border-radius: 20% 20% 0% 0%;
    color: white;
    background-color: #324877;
    transition: 0.3s color linear,
                0.3s background-color linear;
}

.navBtn:hover{
    background-color: white;
    color: #324877;
}

.lastNavBtn{
    margin-right: 5%;
}

#inicio, #config{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

#selected{
    background-color: white;
    color: #324877;
}

#leftConfig, #rightConfig{
    width: 50%;
    height:auto;
    position: relative;
    float: left;
}

#statusContainer{
    position: relative;
    width: 95%;
    height: 200px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.config-container{
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:10px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

#ModelsContainer{
    height: 200px;
}

#LogsContainer, #RecordsContainer{
    height: 250px;
}

.status-container-div{
    position: relative;
    width: 33.33%;
    float: left;
}

.model-container-div{
    position: relative;
    width: 33.33%;
    height: 50px;
    float: left;
    text-align: center;
}

.model-container-description{
    position: relative;
    width: 100%;
    height: 25px;
    margin-top: 30px;
}

.inline-text{
    display: inline;
    margin-top: 30px !important;
}

.enable-container-record{
    position: absolute;
    width: 100%;
    height: 25px;
    margin-top:75px;
}

.enable-container-record-separator-text{
    position: relative;
    height: 90%;
    width: 25%;
    float: left;
    margin-top: 10px;
}

.enable-container-record-separator-check{
    position: relative;
    height: 100%;
    width: 25%;
    float: left;
}

.text-setting{
    position: relative;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.bold-text-setting{
    font-weight: bold;
}

.top-config-container{
    position: relative;
    top:0;
    width: 100%;
    height: 30px;
}

.label-top-config-container{
    position: relative;
    left: 0;
    overflow: hidden;
    background-color: #324877;
    width: 30%;
}

.title-config-container{
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.bottom-config-container{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 50px;
}

.button-bottom-config-container{
    position: relative;
    right: 0;
    margin-left: 70%;
    bottom: 0;
    overflow: hidden;
    background-color: blue;
    width: 30%;
    height: 100%;
    cursor: pointer;
    transition: linear background-color .3s;
}

.button-bottom-config-container:active{
    background-color: #324877;
}

.text-button-config-container{
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.icon-fail{
    color: red;
}

.icon-success{
    color: greenyellow;
}

.logs-container-settings{
    position: relative;
    width: 50%;
    float: left;
}

.input-text{
    margin-top: 10px;
    float:none;
}

.switch-block{
    display: block;
    float: none;
    margin-top: 15px;
}

